/* @media (min-width: 510px) {
  body {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
  }
}
body {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
} */

html {
  scroll-behavior: smooth;
}


.content {
  height: 88vh;
  position: relative;
  overflow: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

.nav {
  width: 100%;
}

.section {
    height: 500px;
}

.ml-6 {
  margin-left: 2rem!important;
}

.content-wrapper {
  padding-top: 2vh;
}

.navbar-brand {
  white-space: normal!important;
}

@media only screen and (max-width: 768px) {
  nav {
    padding-left: 0px!important;
  }
  .content {
    height: inherit;
  }
  .card {
    margin-bottom: 1rem;
  }
  .single-card {
    margin: 0;
  }
  .model {
    display: none;
  }
  .btn-model-mobile {
    display: block !important;
  }
}

.card-row {
  margin: 0px 0px 1rem 0px;
}

.single-card {
  margin-bottom: 1rem;
}

sup.citation {
  font-weight: bold;
}

dl {
  margin: 0 !important;
}

dl>dt, dd {
  padding: 0 !important;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.45);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
}

.col-md-12 {
  padding: 0 !important;
}

.math-container {
  overflow-x: scroll;
  padding: none !important;
}

.math-container::-webkit-scrollbar {
  display: none;
}

dl {
  word-wrap: break-word;
}

.webpage-header-navbar a {
  padding-bottom: 0rem;
  padding-top: 0.625rem;
  font-weight: bolder;
}

.btn-model-mobile {
  display: none;
}

